<%#the dealer's area%>
<div class="well" id="dealer_area">
  <h4>Dealer's Cards:</h4>
     

    <%#Show the dealer's cards%>
    <% show_hand('dealer_cards').each do |image_path|%>     
          <img src= "<%=image_path%>" style="margin: 0px 5px 5px 0px">
    <%end%>

<%#Show the dealer total%>

<%# show the deal dealer's 'next card button' if the dealer is hitting%>
<%if @status == 'dealing_to_dealer'%>

  <p id="dealer_total"></p>

  <h5>Dealer has <%=hand_total('dealer_cards')%> and will hit. </h5>
  <form action='/game/dealer/hit' method='post' id="dealer_hit_form"/ >
    <input type="submit" class="btn btn-primary"  value="Click to see dealer's next card <%="\u2192"%>" >
  </form>
<%end%>
<p></p>
</div>

